<header class="navbar navbar-fixed-top navbar-inverse"> 
<div class="navbar-inner">
<div class="container">
<%= link_to "sample app", '#', id: "logo" %> 
<nav>
<ul class="nav nav-list pull-right">
<li class="nav-item"><%= link_to "Home", root_path %></li>
<li class="nav-item"><%= link_to "Help", help_path %></li>
<li class="nav-item"><%= link_to "Sign in", '#' %></li> 
</ul>
      </nav>
    </div>
  </div>
</header>